<section class="products-index">
  <h5>Admin::Dashboard#show</h5>
  <p>Find me in app/views/admin/dashboard/show.html.erb</p>

  <header class="page-header">
    <h3>Admin Dashboard</h3>
  </header>

  <div>
    Number of Products: <%= @number_of_products %>
  </div>

  <div>
    Number of Categories: <%= @number_of_categories %>
  </div>

  <br>
</section>